*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
}
.container
{
    margin: 20px auto;
    width: 1000px;
}
.row
{
    display: flex;
}
.game-info
{
    display: flex;
}
.game-info .game-name,
.game-info .game-category
{
    flex: 1;
}
.game-info .game-category
{
    text-align: right;
}
.game-info .category span
{
    text-transform: capitalize;
    color: #E91E63;
    font-weight: bold;
}
.hangman-draw
{
    flex: 1;
    background-color: #E8E8E8E8;
    padding: 20px;
    height: 324px;
}
.hangman-draw .the-draw
{
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
    left: -60px;
    display: none;
}
.hangman-draw .the-stand
{
    content: "";
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 100%;
    left: 50%;
    margin-left: -2px;
    display: none;
}
.hangman-draw .the-hang::before
{
    content: "";
    position: absolute;
    height: 4px;
    background-color: #222;
    width: 100px;
    left: 30px;
    top: 20px;
}
.hangman-draw .the-hang
{
    display: none;
}
.hangman-draw .the-hang::after
{
    content: "";
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 30px;
    left: 130px;
    top: 20px;
}
.hangman-draw .the-rope
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 4px dashed #222;
    position: absolute;
    left: 98px;
    top: 46px;
    display: none;
}
.hangman-draw .the-man .head
{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 4px solid #222;
    position: absolute;
    left: 108px;
    top: 55px;
    display: none;
}
.hangman-draw .the-man .body
{
    position: absolute;
    background-color: #222;
    width: 4px;
    height: 100px;
    top: 104px;
    left: 130px;
    display: none;
}
.hangman-draw .the-man .hand
{
    display: none;
}
.hangman-draw .the-man .hand::before,
.hangman-draw .the-man .hand::after
{
    content:"";
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #222;
}
.hangman-draw .the-man .hand::before
{
    top: 135px;
    left: 85px;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.hangman-draw .the-man .hand::after
{
    top: 135px;
    left: 130px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
}
.hangman-draw .the-man .legs
{
    display: none;
}
.hangman-draw .the-man .legs::before,
.hangman-draw .the-man .legs::after
{
    content:"";
    position: absolute;
    width: 50px;
    height: 4px;
    top: 212px;
    background-color: #222;
}
.hangman-draw .the-man .legs::before
{
    left: 85px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
}
.hangman-draw .the-man .legs::after
{
    left: 130px;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.hangman-draw.wrong-1 .the-draw
{
    display: block;
}
.hangman-draw.wrong-2 .the-stand
{
    display: block;
}
.hangman-draw.wrong-3 .the-hang
{
    display: block;
}
.hangman-draw.wrong-4 .the-rope
{
    display: block;
}
.hangman-draw.wrong-5 .head
{
    display: block;
}
.hangman-draw.wrong-6 .body
{
    display: block;
}
.hangman-draw.wrong-7 .hand
{
    display: block;
}
.hangman-draw.wrong-8 .legs
{
    display: block;
}
.letters
{
    flex: 1;
    padding: 20px;
    text-align: center;
}
.letters.finished
{
    pointer-events: none;
}
.letters .lettersbox
{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: #009688;
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    margin-bottom: 5px;
    line-height: 50px;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
}
.letters-guess
{
    margin: 10px auto;
    background-color: #F8F8F8F8;
    padding: 20px;
    display: flex;
    min-height: 104px;
    justify-content: center;
}
.letters-guess span
{
    width: 60px;
    height: 60ox;
    font-size: 24px;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #FDFDFD;
    border-bottom: 3px solid #222 ;
}
.letters-guess .has-space
{
    background: none;
    border: none;
    position: relative;
}
.letters-guess .has-space::before
{
    content: "";
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #222;
    left: 40%;
    top: 50%;
    transform: translate(-50% -50%);
    -webkit-transform: translate(-50% -50%);
    -moz-transform: translate(-50% -50%);
    -ms-transform: translate(-50% -50%);
    -o-transform: translate(-50% -50%);
}
.letters .clicked
{
    pointer-events: none;
    background-color: #222;
    opacity: .2;
}
.popup
{
    position: fixed;
    background-color: #009688;
    padding: 100px 20px;
    width: 80%;
    top: 20%;
    left: 10%;
    text-align: center;
    font-size: 35px;
    border: 1px solid #CCC;
    color: #FFF;
}